@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap");

html {
  scroll-behavior: smooth !important;
}

body {
  position: relative !important;
}

.no-scrolling {
  @media (min-width: 1200px) {
    overflow-y: hidden !important;
  }
}
